.main-container {
  display: flex;
  flex-direction: column;
  /* Organiza os filhos verticalmente */
  height: 100vh;
  background-color: var(--secondary-color);
}

.top-container {
  height: 15vh;
  width: 100%;
  background-color: transparent;
  overflow: visible;
}

.center-container {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;

  .content {
    margin: 0 auto;
    min-width: 400px;
    width: 100%;
  }
}