.main-container {
  /*margin: 0 auto; */
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f8f9fa;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  background-color: var(--secondary-color);
  overflow: visible; 
}

.center-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  /* Ocupa toda a altura da tela */
  background-color: var(--secondary-color);
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o topo */
}

.header {
  text-align: center;
  color: white;
}

/* Estilo para a área central */
.content {
  margin-top: 16px;
  padding: 5px;
  flex-grow: 1;
  overflow-y: auto;
}