<div class="container-default mat-elevation-z8" tabindex="0">
  <div class="header">
    <h2>Receitas</h2>
    <hr />
  </div>

  <div class="actions mat-elevation-z4">
    <div class="filters">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Mês referência</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="startDate" />
        <mat-datepicker-toggle matIconPrefix [for]="pickerStart">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-bar">
      <button mat-mini-fab style="background-color: lightgray; color: whitesmoke;">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab style="background-color: green; color: whitesmoke;" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Div para controlar o scroll -->
  <div class="table-wrapper">
    <table mat-table [dataSource]="transactions" class="revenue">
      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.dsRevenue }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.date | date }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th class="header" mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.revenueType.dsRevenueType }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="cliente">
        <th class="header" mat-header-cell *matHeaderCellDef> Fonte </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.revenueSource.dsRevenueSource }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th class="header" mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.vlAmount | currency }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency }}</td>
      </ng-container>

      <!-- acao Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let transaction">
          <button mat-mini-fab class="small-icon-button" style="color: whitesmoke;" (click)="onEdit(transaction)">
            <mat-icon>folder</mat-icon>
          </button>
          <button mat-mini-fab class="small-icon-button" style="background-color: red; color: whitesmoke;">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>