.div-edit-receive {
    width: 60%;
}

.section-edit-receive {
    text-align: left;

    mat-form-field {
        margin-left: 10px;
    }

    .descricao-field {
        width: 66%;
    }

    .cliente-field {
        width: 98%;
    }
    
    .tipo-receita-field {
        width: 30%;
    }

    .tipo-faturamento-field {
        width: 34%;
    }

    .dia-faturamento-field {
        width: 32%;
    }

    .valor-field {
        width: 28%;
    }
}