<div class="login-container container">
  <h2>Bem-vindo à TTech</h2>

  <mat-form-field style="width: 100%;">
    <mat-label>Enter your login</mat-label>
    <input matInput placeholder="Login" [formControl]="username"  (blur)="updateErrorMessage()" required />
    @if (username.invalid) {
    <mat-error>{{usernameErrorMessage()}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" [formControl]="password" required />
    @if (password.invalid) {
    <mat-error>{{passwordErrorMessage()}}</mat-error>
    }
  </mat-form-field>

  <button type="button" (click)="onLogin()">Entrar</button>

  <a href="#">Esqueceu sua senha?</a>
  <a routerLink="/register">Não tem conta? Cadastre-se</a>

  <!-- Mensagem de erro -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Mensagem de sucesso -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>