<section class="example-container mat-elevation-z8" tabindex="0">

    <div class="header">
        <h2>Expenses</h2>
        <hr>
    </div>
    <div  class="actions">
        <button mat-mini-fab style="background-color: green; color: whitesmoke;">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab style="background-color: lightgray; color: whitesmoke;">
            <mat-icon>download</mat-icon>
        </button>
    </div>
    <div>
        <hr>
        <table mat-table [dataSource]="transactions">
            <!-- Item Column -->
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.name}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th class="header" mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.date | date }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th class="header" mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- establishment Column -->
            <ng-container matColumnDef="establishment">
                <th mat-header-cell *matHeaderCellDef> Estabilishment </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.establishment}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let transaction">  
                    <button mat-mini-fab  class="small-icon-button" style="color: whitesmoke;">
                        <mat-icon>folder</mat-icon>
                    </button>            
                    <button mat-mini-fab  class="small-icon-button" style="background-color: red; color: whitesmoke;">
                        <mat-icon>delete</mat-icon>
                    </button>            
                </td>
                <td mat-footer-cell *matFooterCellDef></td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    </div>
</section>