<div class="top">
    <div class="banner">
        <div class="welcome">
            <span>Welcome {{ name }} in the TTech financial management</span>            
        </div>
        <div class="logout">
            <button  mat-mini-fab  class="mat-elevation-z2">
                <mat-icon>menu</mat-icon>
            </button>
            <button  mat-mini-fab  class="mat-elevation-z2" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
            </button>

        </div>
    </div>

    <div class="menu mat-elevation-z8" >
        <button mat-button (click)="onHome()">Dashboard</button>
        <button mat-button [matMenuTriggerFor]="receivesMenu">Receitas</button>
        <mat-menu #receivesMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onReceive()">Receitas</button>
            <button mat-menu-item>Clientes</button>
            <button mat-menu-item>Tipo</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="expensesMenu">Despesas</button>
        <mat-menu #expensesMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onExpense()">Despesas</button>
            <button mat-menu-item>Solicitantes</button>
            <button mat-menu-item>Estabelecimento</button>
            <button mat-menu-item>Tipo</button>
        </mat-menu>
    </div>
</div>