.mat-mdc-table-sticky {
    background-color: var(--secondary-color);
}

.mat-mdc-table .mat-mdc-header-cell {
    background-color: #C0C0C0;
    color: white;
}

.date-filter {
    width: 28%;
    margin: 0 5px;
}